.header-container {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: minmax(5px,71px) minmax(54px,60px) minmax(185px,921px) minmax(106px,238px) minmax(5px,71px);
    grid-template-rows: 20px 59px;
    border-bottom: 1px solid #000000;
  }
  
  .blockLogo {
    width: auto;
    height: 40px;
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    align-items: center;
  }
  .blockLogo-logo{
    width: 53.27px;
    height: 22.66px;
  }
  .blockLogo-logo:hover{
    cursor: pointer;
  }
  
  .blockLink {
    width: auto;
    height: 40px;
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .blockLink-link{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
    
  }
  .blockLink-link:hover{
    text-shadow: 0px 2px 15px rgb(0 0 0 / 15%);
    margin: 0px 0px 1px 0px;
    cursor: pointer;
  }
  
  .blockButton {
    width: auto;
    height: auto;
    grid-column: 4/5;
    grid-row: 2/3;
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    
  }
  .blockButton-button{
    width: 186px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FF685B;
    background: #FFFFFF;
    border: 2px solid #FF685B;
    border-radius: 7px;
    padding: 0px;
  }
  
  .blockButton-button:hover{
    box-shadow: 0px 2px 13px rgb(0 0 0 / 15%);
    margin: 0px 0px 1px 0px;
    cursor: pointer;
  }

  @media screen and (max-width: 375px){
    .header-container {
      grid-template-columns: 10px minmax(54px,60px) minmax(85px,185px) minmax(106px,106px) 10px;
    
    }
  }
  